In [19]:
import pandas as pd
s=pd.Series([5,10,15,20,25,30,35])
s.dtype
s

0     5
1    10
2    15
3    20
4    25
5    30
6    35
dtype: int64

In [6]:
print(pd.__version__)

2.3.1

In [20]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [25]:
s.name="DadzaMoyo"
print(s.name)
s

DadzaMoyo

0     5
1    10
2    15
3    20
4    25
5    30
6    35
Name: DadzaMoyo, dtype: int64

In [28]:
#indexing
index=["beans","nyoro","bhawa","mwana","mudoridori","akapfekaa","chimbambamba"]
s.index=index
s

beans            5
nyoro           10
bhawa           15
mwana           20
mudoridori      25
akapfekaa       30
chimbambamba    35
Name: DadzaMoyo, dtype: int64

In [33]:
print(s["beans"])

5

In [38]:
print(s[0:2],"\n")
print("\n",s["beans":"mudoridori"])

beans     5
nyoro    10
Name: DadzaMoyo, dtype: int64


 beans          5
nyoro         10
bhawa         15
mwana         20
mudoridori    25
Name: DadzaMoyo, dtype: int64

In [45]:
#iloc-->integer location based indexing
print(s.loc["nyoro"],"\n\n")
#retrivieving certain number of elements
print(s.iloc[[2,4]],"\n\n")

10


bhawa         15
mudoridori    25
Name: DadzaMoyo, dtype: int64

In [55]:
arr=pd.Series([10,20,30,40])
index=['a','b','c','d']
print(index,"\n")
print(arr.shape,"\n")
print(arr.size,"\n")
print(arr.empty,"\n")
s1=pd.Series([])
print(s1.empty,"\n")

['a', 'b', 'c', 'd']

(4,)

4

False

True

In [63]:
s3=pd.Series([1,None,5])#series having any undefined value or None
print(s3.hasnans,"\n")
print(s3.nbytes,"\n")
print(s3.ndim,"\n")

True

24

1

In [68]:
#kilometres from watrefalls
Nzvimbo_dzemafaro={
    "Mashwede":10,
    "Highglen":11,
    "KwaTerry":80,
    "Mutangaz":20,
    "Hatfields":3,
    "Mazowe Dam":90,
    "Victoria Falls":300,
    "Mutarazi Falls":250,
     "Nyanga Mountain":250,
      "Gonarezhou National Park":295
}
series=pd.Series(Nzvimbo_dzemafaro,name="Tourist attraction places")
series

Mashwede                     10
Highglen                     11
KwaTerry                     80
Mutangaz                     20
Hatfields                     3
Mazowe Dam                   90
Victoria Falls              300
Mutarazi Falls              250
Nyanga Mountain             250
Gonarezhou National Park    295
Name: Tourist attraction places, dtype: int64

In [84]:
series[series>200 ]

Victoria Falls              300
Mutarazi Falls              250
Nyanga Mountain             250
Gonarezhou National Park    295
Name: Tourist attraction places, dtype: int64

In [87]:
series[-(series<100)]

Victoria Falls              300
Mutarazi Falls              250
Nyanga Mountain             250
Gonarezhou National Park    295
Name: Tourist attraction places, dtype: int64

In [99]:
data={'apple':[3,2,0,1],'orange':[0,3,7,2]}
df=pd.DataFrame(data)
print(df)

   apple  orange
0      3       0
1      2       3
2      0       7
3      1       2